* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background: #8f2694;
}

@keyframes loading {
    from{
        transform: translate(-50%, -50%) scale(.8);
        transform-origin: center;
        opacity: 0;
    }
    to{
        transform: translate(-50%, -50%) scale(1);
        transform-origin: center;
        opacity: 1;
    }
}

.container{
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 30rem;
    animation: loading 1s;
}

#form-cadastro label{
  text-transform: capitalize;
}

/* .form-cadastro {
  display: flex;
  flex-direction: column;
}

.form-cadastro input,
.form-cadastro select,
.form-cadastro textarea {
  margin: 1rem 0;
  padding: 1rem;
} */

/* .form-cadastro label {
  transform: translate(4%, 280%);
  color: gray;
  transition: 0.3s;
}

label.selecionado {
  transform: translate(0%, 50%) scale(0.8);
  transform-origin: 0 0;
  transition: 0.3s;
  color: black;
} */
